@using ConfectionaryContracts.ViewModels
@model WarehouseViewModel
@{
    ViewData["Title"] = "Create or Update";
}
@{
    if (Model == null)
    {
        <h1>Создание склада</h1>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Наименование" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="manager" name="manager" placeholder="ФИО ответственного" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Создать" class="btn btn-primary" />
                        <a style="margin-left: 10px;" asp-action="Index">Назад</a>
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <h1>Изменение склада</h1>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Update" method="post">
                    <input type="hidden" id="id" name="id" value="@Model.Id" />
                    <input type="hidden" id="storedcomponents" name="storedcomponents" value="@Model.StoredComponents" />
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" value="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="manager" name="manager" value="@Model.Manager" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Сохранить" class="btn btn-primary" />
                        <a style="margin-left: 10px;" asp-action="Index">Отмена</a>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Компонент
                            </th>
                            <th>
                                Количество
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StoredComponents)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value.Item1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value.Item2)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
